:root {
  --bg-main: #f8fafc;        /* Light gray background */
  --bg-surface: #ffffff87;     /* White cards/boxes */
  --brand-primary: #0284c7;  /* Sky 600 */
  --text-color: #0f172a;     /* Dark text */
  --border-color: #e2e8f0;   /* Light gray borders */
}

:root.dark {
  --bg-main: #070A13;                
  --bg-surface: rgba(255, 255, 255, 0.05); 
  --brand-primary: #38bdf8;           
  --text-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.1);

}
  



