/*me*/
/* .carousel-card {
  transition: transform 0.38s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.card-edge-left {
  opacity: 0.4;
  mask-image: linear-gradient(to left, black 40%, transparent 100%);
  -webkit-mask-image: linear-gradient(to left, black 40%, transparent 100%);
  transition: opacity 0.3s ease, mask-image 0.3s ease;
}

.card-edge-right {
  opacity: 0.4;
  mask-image: linear-gradient(to right, black 40%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 40%, transparent 100%);
  transition: opacity 0.3s ease, mask-image 0.3s ease;
} */

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}