<div class="container mx-auto py-6">
  <div class="flex flex-wrap gap-4 justify-center">
    @for (letter of letters; track $index) {
      <a [routerLink]="['/details']">
        <div
          class="flex items-center justify-center {{ letters[$index].bg }} {{
            letters[$index].hover
          }} duration-500 hover:scale-110 hover:rotate-3 z-10 cursor-pointer size-36 rounded-lg"
        >
          <span class="text-white text-shadow-2xs font-bold text-4xl">
            {{ letter.asci }}
          </span>
        </div>
      </a>
    }
  </div>
</div>
