<header class="text-gray-600 bg-white/50 body-font shadow">
  <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="text-4xl">🤟 </span>
      <div class="flex flex-col p-5 items-center">
        <span class="text-xl">ASL Kids</span>
        <span class="text-gray-500 text-sm">Learn & Play</span>
      </div>
    </a>
    <nav
      class="md:ml-auto md:mr-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
    >
      <a routerLink="home" class="mr-5 hover:text-gray-900"
        ><span
          class="bg-black cursor-pointer text-white px-5 py-2.5 hover:bg-gray-800 duration-300 rounded-full"
          ><i class="fa-solid fa-house"></i> Home</span
        ></a
      >
      <a class="mr-5 hover:text-gray-900"
        ><span
          class="bg-gray-100 cursor-pointer hover:bg-gray-300 duration-300 text-black px-5 py-2.5 rounded-full"
          ><i class="fa-solid fa-trophy"></i> Progress</span
        ></a
      >
      <button type="button" (click)="goToProfile()" class="cursor-pointer mr-5 hover:text-gray-900">
        <span
          class="rounded-full overflow-hidden flex items-center justify-center bg-purple-500 size-10 text-white font-medium shadow shadow-black"
        >
          @if (profileImage) {
          <img [src]="profileImage" class="w-full h-full object-cover" />
          } @else {
          <span class="text-lg">{{ firstLetter }}</span>
          }
        </span>
      </button>
    </nav>
    <button
      (click)="logOut()"
      class="inline-flex items-center cursor-pointer bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
    >
      <span><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</span>
    </button>
  </div>
</header>
